{% extends 'base.html' %}
{% block title %}Contact - My Portfolio{% endblock %}
{% block content %}
<h1>Contact Me</h1>
<p>Feel free to reach out through email or social media!</p>
<form action="/contact" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br>
  <label for="message">Message:</label><br>
  <textarea id="message" name="message"></textarea><br>
  <input type="submit" value="Send">
</form>

{% endblock %}
